@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Добавление работника</title>
</head>
<body>
    <div>
        <h3>Форма добавления работника</h3>
        <form method="post" action="">
            <table>
                <tr>
                    <td><p>Введите имя работника</p></td>
                    <td><input type="text" name="Name" required /> </td>
                </tr>
                <tr>
                    <td><p>Введите фамилию работника</p></td>
                    <td><input type="text" name="Surname" required /> </td>
                </tr>
                <tr>
                    <td><p>Введите отчество работника</p></td>
                    <td><input type="text" name="Patronymic" required /> </td>
                </tr>
                <tr>
                    <td><p>Введите email работника</p></td>
                    <td><input type="email" name="Email" required /> </td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>
