@using Many1.Models
@model Worker




<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Удаление работника</title>
</head>
<body>
    <div>
        <h3>Форма удаления работника</h3>
        <form method="post" action="">
            <input type="hidden" value="@Model.Id" name="Id" />
            <table>
                <tr>
                    <td><p>Вы уверены что хотите удалить работника?</p></td>

                </tr>

                <tr><td><input type="submit" value="Удалить навсегда" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>